<div class="home-container">
<%= image_tag 'characters/1alakazam.gif', width: 400, height: 400, cover: :fill%>
<%= image_tag 'characters/2alice.gif', width: 400, height: 400, cover: :fill%>
<p>OSMO-FIGHTER</p>
</div>
