.home-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  p {
    position: absolute;
    color: white;
    top: 11rem;
    left: 37rem;
    font-size: 5rem;
  }
}

.card-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 40px;
}
